<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite" thread-count="3" parallel="tests">
    <listeners>
        <listener class-name="com.test.Utils.Listener"/>
        <listener class-name="com.test.Utils.RetryListener"/>
        <listener class-name="com.test.Utils.AnnotationTransformer"/>
    </listeners>
    <test name="Test-Desktop">
        <parameter name="platform" value="Desktop"></parameter>
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="com.test.Runner.RunCukesTest"/>
        </classes>
    </test>
    <test name="Test-Android">
        <parameter name="platform" value="Android"></parameter>
        <parameter name="platformVersion" value="6.0.1"></parameter>
        <parameter name="deviceName" value="Android Device"></parameter>
        <parameter name="port" value="2315"></parameter>
        <parameter name="udid" value=""></parameter>
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="com.test.Runner.RunCukesTest"/>
        </classes>
    </test>
    <!--<test name="Test-IOS">-->
        <!--<parameter name="platform" value="iOS"></parameter>-->
        <!--<parameter name="platformVersion" value=""></parameter>-->
        <!--<parameter name="deviceName" value="iOS Device"></parameter>-->
        <!--<parameter name="port" value="2317"></parameter>-->
        <!--<parameter name="udid" value=""></parameter>-->
        <!--<parameter name="browserName" value="safari"></parameter>-->
        <!--<classes>-->
            <!--<class name="com.test.Runner.RunCukesTest"/>-->
        <!--</classes>-->
    <!--</test>-->
</suite>
